/* Login Container Styles */
.loginContainer {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

.loginBox {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: 2px solid black;
}

.logo {
  width: 64px;
  height: 64px;
  margin: 0 auto 20px;
}

.instruction {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.dots {
  display: inline-block;
  animation: dots 1.2s steps(4, end) infinite;
}

@keyframes dots {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
}


.enteredEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.profileIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 50%;
}

.input {
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  background: #0056b3;
}
